@model object[]


<form class="form-horizontal form-label-left">
    <div class="row">
        <div id="11" style="text-align:right;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
                <br />
                <label>Dependencia Jerárquica (*)</label>
                @Html.DropDownList("cboJerarquia", (SelectList)ViewBag.CampJerar, "Seleccione", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <br />
            <div class="form-group">
                <div>
                    <label class="col-md-7 col-sm-7 col-xs-6"> Und. Organizacional </label>
                    <div class="col-md-5 col-sm-5 col-xs-6 text-right">
                        @*<input id="chk-activo-CCosto" type="checkbox" class=" js-switch" checked /> Activo*@
                    </div>
                </div>
                <select id="cbounidsupe" class="form-control" disabled>
                    <option>Seleccione</option>
                </select>
            </div>
        </div>
    </div>

    @*<div class="ln_solid"></div>*@
    <div class="border-section" style="height:100px;">

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group Valcod">
                <label>Código (*)</label>
                <input id="txt-cod-CCosto" type="text" name="codigo" class="form-control" @*pattern="^([A-Za-z0-9])+"*@ maxlength="8" placeholder="Código" onkeypress="validarCodigoAll(event)">
                <div class="notifry_error" style="background-color:#4CA4DE;color:white;text-align:center;">

                </div>
                <br />
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group  Valdes">
                <label>Descripción (*)</label>
                <input id="txt-desc-CCosto" type="text" class="form-control" placeholder="Descripción " onkeypress="validarDescripcionAll(event)">
                <div class="notifry_error" style="background-color:#4CA4DE;color:white;text-align:center;">

                </div>  <br />
            </div>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">

                <label>Tipo de Centro de Costo (*)</label>
                @Html.DropDownList("cboTipo", (SelectList)ViewBag.CampTip, "Seleccione", new { @class = "form-control" })
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">

            </div>
        </div>

    </div>
    <br />

    @*<div class="ln_solid"></div>*@
    <div id="containerCampose">
        @*<div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group" id="campo1" hidden>
                        <label id="titulo1">Campo 1</label>
                        <input id="strCargoCampo1" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group" id="campo2" hidden>
                        <label>Campo 2</label>
                        <input id="strCargoCampo2" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group" id="campo3" hidden>
                        <label>Campo 3</label>
                        <input id="strCargoCampo3" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group" id="campo4" hidden>
                        <label>Campo 4</label>
                        <input id="strCargoCampo4" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group" id="campo5" hidden>
                        <div class="form-group" id="campo5">
                            <label>Campo 5</label>
                            <input id="strCargoCampo5" type="text" class="form-control">
                        </div>
                    </div>

                </div>
            </div>*@
    </div><div class="col-md-6 col-sm-6 col-xs-6">
        <div class="form-group" id="Idcar" hidden>
            <label>IdCCosto</label>
            <input id="txtIdCCosto" type="hidden" class="form-control">
        </div>
    </div>
    <script>


        BuscarUnidades();


    </script>
</form>

