@{
    ViewBag.Title = "Horario";
}

<div class="loader"></div>
@*<style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(../../images/pageLoader.gif) 50% 50% no-repeat rgb(249,249,249);
            opacity: .95;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            $(".loader").fadeOut("slow");
        });

    </script>*@
<script src="~/Scripts/dropzone.js"></script>
<div class="row">
    <!--INICIO PANEL-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                <label class="" style="text-align: right !important;">Buscar </label>
                <input type="text" id="filtroHor" class="form-control" placeholder="Buscar por Código y Descripción">
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <label class="control-label" style="text-align: right !important;">Dependencia</label>
                <select class="form-control" id="cboJerarquica_h">
                    <option value="0" selected>Todos</option>
                </select>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                <label class="control-label" style="text-align: right !important;">Estado</label>
                <select class="form-control" id="filActivo">
                    <option value="2">Todos</option>
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>

        </div>
    </div>
</div>
<!-- PANEL DE MENUS -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb">
            <a class="breadcrumb__step breadcrumb__step--active" href="#" id="PadreMenu_txt">Asistencia</a>
            <a class="breadcrumb__step" href="#" id="HijoMenu_txt">Horario</a>
        </div>
    </div>
</div>
<div class="row">
    <!-- PANEL TABLA -->
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Listado de Horarios</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <input type="button" id="btn-new-horario" class="btn btn-primary" value="Nuevo Horario">
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-horario" class="table table-striped table-bordered table-responsive pre-wrap" cellspacing="0" style="width:100%;">
                    @*<table id="datatable-horario" class="table table-striped table-bordered table-responsive nowrap " cellspacing="0" width="100%">*@
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Inicia</th>
                            <th>Dependencia</th>
                            <th>Und. Organizacional</th>
                            <th>Estado</th>
                            <th>Acción</th>
                            <th style="display:none">Acción</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- SEGUNDO PANEL -->
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <div class="form-hide-horario" hidden>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Información del Horario</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <input type="button" id="btn-save-change-horario" class="btn btn-primary" value="Guardar">
                            <input type="button" id="btn-update-horario" class="btn btn-success" value="Actualizar" hidden>
                        </li>
                        <li>
                            <input type="button" id="btn-cancel-horario" class="btn btn-dark" value="Cancelar">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <label>
                                    <input type="checkbox" class="flat" id="checkPrincipal"> Principal
                                </label>
                            </div>
                            <div style="text-align:right;" id="11">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Dependencia Jerárquica (*)</label>
                                        <select class="form-control" id="cboJerar_h"></select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Und. Organizacional (*)</label>
                                        <select class="form-control" id="cboUndOrg_h" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="border-section">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Código (*)</label>
                                        <input type="text" name="codigo" id="txt_Cod_Hor" class="form-control" onkeypress = "validarCodigoAll(event)" maxlength="8" placeholder="Código">
                                        <div class="notifry_error" style="background-color:#4CA4DE;color:white;text-align:center;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Descripción (*)</label>
                                        <input type="text" id="txt_Desc_Hor" class="form-control" placeholder="Descripción" onkeypress = "validarDescripcionAll(event)">
                                        <div class="notifry_error" style="background-color:#4CA4DE;color:white;text-align:center;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="border-section">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <center><h1> Horario </h1></center>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Inicia en (*)</label>
                                        <select class="form-control" id="TipoDia" disabled></select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label>Duración en Días (*)</label>
                                        <div class="input-group">
                                            <div>
                                                <input type="number" step="1" min="1" @*pattern="[0-9]+"*@ id="txt_Num_Dias" class="form-control" disabled placeholder="Días" onkeypress="return validarSoloNum(event)" max="365" maxlength="3" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                                            </div>
                                            <div class="input-group-btn" id="btn_change_num">
                                                <label class="btn btn-primary" id="btn-genra-horario" title="Generar Horario" hidden>Crear</label>
                                                <label class="btn btn-success" id="btn-edita-dias" title="Editar Dias">Editar</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <table id="Dias" class="table table-striped table-bordered table-responsive nowrap" cellspacing="0" width="100%">
                                    <thead id="Header">

                                    </thead>
                                    <tbody id="cuerpo"></tbody>
                                </table>
                                <br>
                                <br>
                                <br>
                                <div id='wrap'>

                                    <div id='external-events'>
                                        <div id='external-events-listing' class="draggable-items">

                                        </div>

                                    </div>

                                    <div style='clear:both'></div>

                                </div>
                            </div>
                        </div>

                        <br /><br />
                        <div id="containerCampose"></div>
                        <br />

                        <input type="hidden" id="IdHor" />

                        <div class="draggable-items" hidden>
                            <div class="row">
                                <div class="col">
                                    <div class="card bg-light my-3" draggable="true">
                                        <div class="card-header">Titulo</div>
                                        <div class="card-body">
                                            <p class="card-text">hora</p>
                                        </div>
                                    </div>
                                    ...
                                </div>
                            </div>
                        </div>



                        <div class="row dropzones" hidden>
                            <div class="col">
                                <div class="my-3 p-3 border rounded dropzone">
                                    <span class="text-muted">Eliminar</span>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .tooltip {
        white-space: pre-line;
    }
</style>
<script>
    Dropzone.autoDiscover = false; //añadido 30.07.2021
    let el = null; //añadido 30.07.2021
    const dropzones = document.querySelector('.dropzones'); //añadido 30.07.2021
    $(document).ready(function () {
        ListarJerarquia();
        TablaHorario();//comentado
        //añadido 30.07.2021 -INICIO
        document.querySelector('.draggable-items')//añadido 30.07.2021
        document.addEventListener('dragstart', e => {//añadido 30.07.2021
            el = e.target.cloneNode(true)
            el.removeAttribute('draggable');

        })
        //añadido 30.07.2021 - FIN
    }
    );


    function allowDrop(ev) {
        ev.preventDefault();

    }

    function drag(ev) {
        console.log("function drag(ev)");
        console.log(ev)
        ev.dataTransfer.setData("text", ev.target.id);
        let el = null;

        // ev.preventDefault();
        el = ev.target.cloneNode(true)
        //   el.removeAttribute('draggable');

    }

    function drop(ev) {
        console.log(">> drop(ev)");
        console.log(ev);
        var NroDiaHorario__ = ev.target.id;

        console.log("DiaHorario: ");
        console.log(NroDiaHorario__);
        console.log(">> --------------------");

        //obtener siempre el padre TD
        var elemento = ev.target.localName;
        var target = $(ev.target);
        if (elemento != "td") {
            target = $(ev.target).parents("td")
        }

        //validar duplicidad
        ev.preventDefault();
        if (!target.hasClass('notDrop')) {
            if (target.find(".dragJornada").length == 0) {
                if (el) {
                    ev.target.appendChild(el.children[0]);
                    console.log("IdJornada:");
                    var idJor__ = target.find(".dragJornada")[0].id;
                    console.log(idJor__);
                    ConDet(idJor__, NroDiaHorario__);//probando enviar datos
                }
            }
            else {
                new PNotify({
                    title: 'Horario',
                    text: 'Solo puede ingresar una jornada por día',
                    type: 'info',
                    delay: 3000,
                    styling: 'bootstrap3',
                    addclass: 'dark'
                });
            }
        } else {
            new PNotify({
                title: 'Horario',
                text: 'Asignar Jornadas en los días válidos (celdas sin X).',
                type: 'info',
                delay: 3000,
                styling: 'bootstrap3',
                addclass: 'dark'
            });
        }



        el = null;

    }
    function dragstart(ev) {
        let el = null;


        //var data = ev.dataTransfer.getData("text");
        //ev.target.appendChild(document.getElementById(data));
        ev.preventDefault();
        ev.target.appendChild(el);
        el = null;

    }

    dropzones.addEventListener('dragover', (e) => {
        e.preventDefault();
    })
    dropzones.addEventListener('dragenter', (e) => {
        if (e.target.classList.contains('dropzone')) {
            e.target.classList.add('solid-border');
        }
    })
    dropzones.addEventListener('drop', (e) => {
        e.preventDefault();
        e.target.appendChild(el);
        el = null;
        e.target.classList.remove('solid-border');
    })

    dropzones.addEventListener('dragleave', (e) => {
        if (e.target.classList.contains('dropzone')) {
            e.target.classList.remove('solid-border');
        }
    })
</script>
<style>
    .arrastrable {
        display: inline-block;
        padding: 10px;
        background: #aaa;
    }

    .contenedor {
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .receptor {
        width: 90%;
        height: 400px;
        background: #000;
        color: gainsboro;
        display: inline-block;
    }




    #external-events {
        width: 100%;
        padding: 0 10px;
        text-align: left;
    }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }

            #external-events p input {
                margin: 0;
                vertical-align: middle;
            }
</style>
